<template>
  <tr>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.BeamNumber" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.Length" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.Tention" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.Speed" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.PressRoll" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.BeamStatus" read-only.bind="true">
      </au-textbox>
    </td>
  </tr>
</template>
